<a href="https://colab.research.google.com/github/irineulucas/Estudos-programacao/blob/main/C%C3%B3pia_de_Ol%C3%A1%2C_este_%C3%A9_o_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numeros = [1, 3, 5, 7, 9]
numeros

[1, 3, 5, 7, 9]

In [ ]:
frutas = ['morango', 'abacaxi', 'maracujá', 'kiwi', 'goiaba']

In [ ]:
#tamanho da lista
len(numeros)

5

In [ ]:
alunos = ['Helena', 'Matheus', 'Augusto', 'Pedro', 'Livia', 'Maria']
len(alunos)
alunos[2]
alunos[2] = 'Wanessa'
alunos.append('Elizabeth')
alunos.append(input('digite um nome! '))
alunos

digite um nome! Pablo

['Helena',
 'Matheus',
 'Wanessa',
 'Pedro',
 'Livia',
 'Maria',
 'Elizabeth',
 'Pablo']

In [ ]:
if 'Matheus' in alunos:
  print('Tem Matheus SIIIIIM')
else:
  print('Tem Matheus NAAAO')

Tem Matheus SIIIIIM

In [ ]:
nome = input('digite o nome: ')
if nome in alunos:
  print('Tem', nome)
else:
  print('não tem', nome)

digite o nome: Maria
Tem Maria

In [ ]:
numeros = []
for num in range(15):
  numeros.append(num)

In [ ]:
dobro = []
for num in numeros:
   dobro.append(numeros[num]*2)
dobro

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
 for num in numeros:
   if numeros[num]%2 == 0:
     print(numeros[num])

0
2
4
6
8
10
12
14